/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
/* This is the universal styling for this webpage */
h1{      /* This stypes the title in header1 */
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size:400%;
    text-align: center;
    /* border: black */
}

h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }

body {
    margin: 2em;
}

body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia, serif;
}

button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  button:hover {
    background-color: black;
    color: white;
  }
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
  
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
=======
>>>>>>> a5991c0bb54554ade97cdec0c45dded66ca38cc5
